#cardContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  text-transform: capitalize;
  width: 100%;
  padding: 1rem 1.5rem;
}

#cardContainer > h1 {
  text-align: left;
}

#cardContainer > img {
  width: 50%;
}

#typeContainer {
  color: white;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

#type {
  margin: 0 1.5rem;
  padding: 1rem 0;
}